.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba($black, 0.5);

  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  &.open {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal__body {
  position: relative;
  padding: 3.2rem;
  background-color: $white;
}