$grid-gutter-width: 3.2rem;

$shark: #333436;
$desert-storm: #F9F9F7;
$eunry: #ffecd5;

$text-color: $shark;

$black-haze: #F4F5F5;
$westar: #e3dfdc;
$wafer: #d8c7c0;
$muddy-waters: #bb9068;
$potters-clay: #815737;